fastapi
uvicorn[standard]
pydantic
python-multipart
sentence-transformers
umap-learn
hdbscan
numpy
pandas
python-docx
python-pptx
pdfplumber
pytesseract
Pillow
pdf2image
transformers
torch
faiss-cpu
scikit-learn
nltk
spacy
gunicorn
python-magic


tqdm


gunicorn